/* This CSS file is for styling the meeting minutes website */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

body {
    background-color: tan;
}

@font-face {
    font-family: Dongle;
    src: url(assets/donglereg.ttf);
}

@font-face {
    font-family: Dongle;
    src: url(assets/donglebold.ttf);
    font-weight: bold;
}

#red-color {
    color: rgb(255,0,0)
}

#blue-color {
    color: blue;
}

#orange-color {
    color: hsl(23, 95%, 52%)
}

#attendancelist-color {
    color: #5D3FD3
}

.agenda-background {
    background-color: aqua;
}

.primary-background {
    background-color: gray;
    height: auto;
    width: 10cm;
    padding: 15pt;
    position: relative;
}

.text-format {
    text-decoration:line-through;
    text-align: center;
    color: green;
    display: block;
    font-size: 20px;
}

.todo-format {
    font-size: 1rem
}

.form-box {
    width: 15vw;
    display: inline-block;
    max-width: 50vw;
    max-height: none;
    position: fixed;
}

.form-box2 {
    width: 9em
}

.hayalla-margin {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.hayalla-margin2 {
    margin: 30px 30px 30px 30px;
}

.padding1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.padding2 {
    padding: 15px 15px 15px 15px;
}

.border1 {
    border-style:dotted;
    border-color: greenyellow;
    border-width: 10px;
    border-radius: 0px;
}

.border2 {
    border-right-color: blue;
    border-left-color: blue;
    border-top-color: blue;
    border-bottom-color: blue;
    border-style: groove;
    border-radius: 5%;
    border-width: 10px
}

button:hover {
    color:hsl(23, 95%, 52%);
}

button:active {
    color: white;
    background-color: red;
}

body {
    font-family: Dongle;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #5D3FD3;
    gap: 10px;
}

.box {
    width: 40px;
    height: 40px;
    background-color: aquamarine;
}

.grid {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    background-color: black;
}